/* SFML css */
body {
    font-family: 'Ubuntu', 'Arial', sans-serif;
    line-height: 140%;
    margin: 0 0 2em;
    padding: 0;
}

#banner-container {
    width: 100%;
    margin-top: 25px;
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
    background-color: rgb(140, 200, 65);
}

#banner {
    width: 950px;
    height: 60px;
    line-height: 54px;
    margin: 0 auto;
    text-align: center;
}

#banner #sfml {
    display: inline;
    vertical-align: top;
    margin-left: 15px;
    color: #fff;
    font-size: 50pt;
    text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 5px;
}

#footer-container {
    clear: both;
    width: 100%;
    margin-top: 50px;
    border-top: 1px solid #999;
}

#footer {
    width: 950px;
    margin: 10px auto;
    text-align: center;
    font-size: 10pt;
    color: #555;
}

#footer a {
    padding: 1px;
    text-decoration: none;
    color: rgb(70, 100, 30);
}

#footer a:hover {
    text-decoration: underline;
}

div.contents,
#content {
    width: 950px;
    margin: 0 auto;
    padding: 0;
}

div.contents h1 {
    color: #333;
    padding: 0.5em 0;
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
    font-size: 26pt;
    font-weight: normal;
}

div.contents h2 {
    font-size: 20pt;
    font-weight: normal;
    margin-top: 1.5em;
    padding-bottom: 0.4em;
    border-bottom: 1px solid #999;
}

div.contents h3 {
    font-size: 16pt;
    font-weight: normal;
}

div.contents p {
    color: #333;
    text-align: justify;
}

div.contents a,
#content a {
    padding: 1px;
    text-decoration: none;
    color: rgb(70, 100, 30);
}

div.contents a:hover,
#content a:hover {
    text-decoration: underline;
}

div.contents code {
    font-size: 11pt;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
}

div.contents pre code {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-size: 10pt;
    padding: 0.5em 1em;
    background-color: #f5f5f5;
    border: 1px solid #bbb;
}

div.contents ul {
    list-style-type: square;
    list-style-position: outside;
    margin: 0 0 0 1.5em;
    padding: 0;
}

div.contents ul li {
    color: #333;
    margin: 0 0 0.3em;
}


.icon {
    font-family: Arial, Helvetica;
    font-weight: bold;
    font-size: 12px;
    height: 14px;
    width: 16px;
    display: inline-block;
    background-color: #8cc445;
    color: white;
    text-align: center;
    border-radius: 4px;
    margin-left: 2px;
    margin-right: 2px;
    line-height: normal;
}

.icona {
    width: 24px;
    height: 22px;
    display: inline-block;
}

.iconfopen {
    width: 24px;
    height: 18px;
    margin-bottom: 4px;
    background-image: url('ftv2folderopen.png');
    background-position: 0 -4px;
    background-repeat: repeat-y;
    vertical-align: top;
    display: inline-block;
}

.iconfclosed {
    width: 24px;
    height: 18px;
    margin-bottom: 4px;
    background-image: url('ftv2folderclosed.png');
    background-position: 0 -4px;
    background-repeat: repeat-y;
    vertical-align: top;
    display: inline-block;
}

.icondoc {
    width: 24px;
    height: 18px;
    margin-bottom: 4px;
    background-image: url('ftv2doc.png');
    background-position: 0 -4px;
    background-repeat: repeat-y;
    vertical-align: top;
    display: inline-block;
}

/* tooltip related style info */

.ttc {
    position: absolute;
    display: none;
}

#powerTip {
    cursor: default;
    white-space: nowrap;
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
    box-shadow: 1px 1px 7px gray;
    display: none;
    font-size: smaller;
    max-width: 80%;
    opacity: 0.9;
    padding: 1ex 1em 1em;
    position: absolute;
    z-index: 2147483647;
}

#powerTip div.ttdoc {
    color: grey;
    font-style: italic;
}

#powerTip div.ttname a {
    font-weight: bold;
}

#powerTip div.ttname {
    font-weight: bold;
}

#powerTip div.ttdeci {
    color: #006318;
}

#powerTip div {
    margin: 0;
    padding: 0;
    font: 12px/16px Roboto, sans-serif;
}

#powerTip:before,
#powerTip:after {
    content: "";
    position: absolute;
    margin: 0;
}

#powerTip.n:after,
#powerTip.n:before,
#powerTip.s:after,
#powerTip.s:before,
#powerTip.w:after,
#powerTip.w:before,
#powerTip.e:after,
#powerTip.e:before,
#powerTip.ne:after,
#powerTip.ne:before,
#powerTip.se:after,
#powerTip.se:before,
#powerTip.nw:after,
#powerTip.nw:before,
#powerTip.sw:after,
#powerTip.sw:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}

#powerTip.n:after,
#powerTip.s:after,
#powerTip.w:after,
#powerTip.e:after,
#powerTip.nw:after,
#powerTip.ne:after,
#powerTip.sw:after,
#powerTip.se:after {
    border-color: rgba(255, 255, 255, 0);
}

#powerTip.n:before,
#powerTip.s:before,
#powerTip.w:before,
#powerTip.e:before,
#powerTip.nw:before,
#powerTip.ne:before,
#powerTip.sw:before,
#powerTip.se:before {
    border-color: rgba(128, 128, 128, 0);
}

#powerTip.n:after,
#powerTip.n:before,
#powerTip.ne:after,
#powerTip.ne:before,
#powerTip.nw:after,
#powerTip.nw:before {
    top: 100%;
}

#powerTip.n:after,
#powerTip.ne:after,
#powerTip.nw:after {
    border-top-color: #ffffff;
    border-width: 10px;
    margin: 0 -10px;
}

#powerTip.n:before {
    border-top-color: #808080;
    border-width: 11px;
    margin: 0 -11px;
}

#powerTip.n:after,
#powerTip.n:before {
    left: 50%;
}

#powerTip.nw:after,
#powerTip.nw:before {
    right: 14px;
}

#powerTip.ne:after,
#powerTip.ne:before {
    left: 14px;
}

#powerTip.s:after,
#powerTip.s:before,
#powerTip.se:after,
#powerTip.se:before,
#powerTip.sw:after,
#powerTip.sw:before {
    bottom: 100%;
}

#powerTip.s:after,
#powerTip.se:after,
#powerTip.sw:after {
    border-bottom-color: #ffffff;
    border-width: 10px;
    margin: 0 -10px;
}

#powerTip.s:before,
#powerTip.se:before,
#powerTip.sw:before {
    border-bottom-color: #808080;
    border-width: 11px;
    margin: 0 -11px;
}

#powerTip.s:after,
#powerTip.s:before {
    left: 50%;
}

#powerTip.sw:after,
#powerTip.sw:before {
    right: 14px;
}

#powerTip.se:after,
#powerTip.se:before {
    left: 14px;
}

#powerTip.e:after,
#powerTip.e:before {
    left: 100%;
}

#powerTip.e:after {
    border-left-color: #ffffff;
    border-width: 10px;
    top: 50%;
    margin-top: -10px;
}

#powerTip.e:before {
    border-left-color: #808080;
    border-width: 11px;
    top: 50%;
    margin-top: -11px;
}

#powerTip.w:after,
#powerTip.w:before {
    right: 100%;
}

#powerTip.w:after {
    border-right-color: #ffffff;
    border-width: 10px;
    top: 50%;
    margin-top: -10px;
}

#powerTip.w:before {
    border-right-color: #808080;
    border-width: 11px;
    top: 50%;
    margin-top: -11px;
}

.arrow {
    cursor: pointer;
}
